{% extends 'base.html' %}
{% block title %}Mis Cursos{% endblock title %}
{% load static %}


{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructor.css' %}">
{% endblock custom_styles %}
    



{% block content %}
    <div class="layout">
        {% include 'includes/sidebar_instructor.html' %}
        <div class="main-content">
            {% include 'includes/header_instructor.html' %}
            
            <main>
                <h2 class="form-title">Mis Cursos</h2>
                <div class="add-new-course">
                    <a href="{% url 'instructor:create_course' %}">Crear nuevo curso</a>
                </div>

                <div class="carouse-wrapper">
                    <div class="course-grid">
                        
                        {% for course in courses%}
                            <div class="course-card">
                                <img src="{{course.image}}" alt="Imagen del curso" class="course-img">
                                <div class="course-info">
                                    <h3 class="course-title">{{course.title}}</h3>

                                </div>
                                
                                <a href="#"><i class="fa-solid fa-eye"></i></a>
                                <a href="{% url 'instructor:update_course' slug=course.slug %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'instructor:delete_course' slug=course.slug %}"><i class="fa-solid fa-trash"></i></a>
                                
                            </div>
                        {% endfor %}
                </div>

                 <!--Esta variable la View la carga en el contexto del template, True si la lista de objetos viene paginada y
                    False si viene la lista completa es decir no paginada-->
                        {% if is_paginated %}
                            <div class="paginator">

                                <!--Menu de navegacion entre paginas-->
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">1</a>
                                    <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
                                {% endif %}
                                    
                                <span>
                                    Página
                                    {{page_obj.number}}
                                    de
                                    {{page_obj.paginator.num_pages}}
                                </span>

                                
                                {% if page_obj.has_next %}
                                    <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                                    <a href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

            </main>

        </div>
    </div>
{% endblock content %}
    


